name: ci pipeline

on: ["push", "pull_request"]

jobs:
  test-job: 
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code 
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with: 
          node-version: 22
          cache: "npm"
      - name: Install dependencies
        run: npm install
      - name: Run Jest tests
        run: npm test
        

